{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{{ block.super }}

{% if user.is_authenticated %}
<h2>Savvy Spender</h2>
<table>
  <thead>
    <th>View</th>
    <th >Create</th>
    <th>Upload</th>
  </thead>
  <tbody>
    <tr>
      <td><a href="{% url 'my_budget' %}">My Budget</a></td>
      <td ><a href="{% url 'create_budget_item' %}">Create Budget</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/my_categories">My Categories</a></td>
      <td><a href="/categories">Create Category</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/my_subcategories">My Subcategories</a></td>
      <td><a href="/subcategories">Create Subcategory</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="{% url 'my_transactions' %}">My Transactions</a></td>
      <td><a href="{% url 'create_transaction' %}">Create Transactions</a></td>
      <td><a href="{% url 'upload_transactions' %}">Upload Transactions</a></td>
    </tr>
  </tbody>
</table>
{% else %}
  <p>You are not logged in</p>

{% endif %}
{% endblock %}