{% extends 'base.html' %}

{% block content %}
  {{ block.super }}
  <h2>Create Transaction</h2>
  <form method="post">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Subcategory <a href="/subcategories" style="font-size:10px;">Add Subcategory</a></th>
          <th>Amount</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ form.date }}</td>
          <td>{{ form.subcategory }}</td>
          <td>{{ form.amount }}</td>
          <td>{{ form.notes }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit">Save</button>
  </form>
{% endblock %}