{% extends 'base.html' %}

{% block content %}
{{ block.super }}

  <h2>My Transactions</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Amount</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for item in transactions %}
      <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.subcategory }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.notes }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No transactions found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}